.reload_a_c_image{
    cursor: pointer;
}
#a_c_image{
    flex:unset;
}

.zt_captcha_image_div{
    position: relative;
    margin: 7px 0px;
}
.zt_captcha_container{
    margin: 7px 0px;
}

.zt_captcha_container .zt_captcha_field{
    width:100%;
}